.todo-list-from-docs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid cyan;
  padding: 20px;
}

.todo-list-from-docs span {
  margin: 5px;
}

.toggle-contrast {
  position: absolute;
  right: 20px;
  top: 20px;
}
